    Options -MultiViews
    RewriteEngine On
       <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]
    RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.lotusbetaanalytics.com/$1 [R,L]